*{
	margin: 0;
	padding: 0;
	color:white;
	font-family: 'Cabin', sans-serif;
}
body,html{
	background-color: black;

}

h1{
	text-transform: uppercase;
	font-size: 50px;
	color: #00000;
}



/* HEADER */

.navbar{
	background-color: #16161D;
}

.navbar-brand{
	color: white !important;
	font-size: 30px;
}

.navbar li a{
	color:white !important;
	font-size: 30px;
	float: right;
}

.navbar-nav li{
	padding: 0 14px;
}
/* SECCION PRINCIPAL */ 

.modal-h1{
	color:black;
	text-align: center;
}

.modal-p{
	color:black;
	text-align: center;
	font-size: 20px;
}

#principal{
	height: 100%;
	background-color: #16161D;
}

.principal-imagen{
	height: 60vh;
	margin-top: 60px;
	width: auto;
}

.principal-h1{
	font-weight: bold;
	margin-top: 80px;
	color: #FFFF;
}

.principal-p{
	font-size: 20px;
}

.CorreoCSS{
	color:red;
	font-size: 16px;
    /*text-align: left;*/
	text-transform: uppercase;
	font-weight: bold;
}

.ContraCSS{
	color:red;
	font-size: 16px;
    /*text-align: left;*/
	text-transform: uppercase;
	font-weight: bold;
}


.js-h1{
	color: #EA0101;
	margin-top: 20px;
	font-size: 20px;
}

.h1-veri{
	color: #12E707;
	font-size: 20px;
}

span{
	color:lightblue;
}

input{
	margin: 20px 0px;
	
}

.btn-light{
	font-size: 20px;
}

.ola{
	height: 20vh;
	width: 100%;
	position:sticky;
	top:0;
}

@media only screen and (max-width: 600px) {

	#principal{
		height: 120%;
	}

	.principal-h1{
		margin-top: 50px;
	}

	.principal-imagen{
		height: 30vh;
		margin-top: 0px;
		margin-right: 0px;
	}

	.ola{
		height: 20vh;
	}
	
  }